@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container-site {
  width: 100%;
  max-width: 1280px;
  margin: 0;
  padding-left: 24px;
  padding-right: 24px;
}

.container-site {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}


@media (min-width: 1024px) {

  .container-site {
    padding-left: 48px;
    padding-right: 48px;
  }

}